// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.err-msg {
  font-size: 13px;
  clear: both;
  display: block;
  margin-top: 3px;
  color: #dd3345;
  width: 100%;
}
